openapi: 3.0.1
info:
  title: Goodpon Partner OpenAPI
  description: "### 인증 방식 (Authentication)\n\nAPI를 호출할 때는 반드시 아래의 HTTP 헤더를 포함해야 합니다. 이 정보는 요청을 인증하고, 클라이언트를 식별하는 데 사용됩니다.\n\n- **X-Goodpon-Client-Id**: 발급받은 상점의 클라이언트 ID ex) ck_f84532d22a4827c9e1f5328461d252b8\n- **X-Goodpon-Client-Secret**: 발급받은 상점의 클라이언트 시크릿 ex) sk_3e153d8453ea8bafb2604ee86f732652\n\n### 멱등 요청 (Idempotent Request)\n\n쿠폰 발급, 사용, 사용 취소와 같은 POST 요청은 중복 요청을 방지하기 위해 멱등 키를 지정할 수 있습니다.  \n이 경우, 요청 헤더에 아래 값을 함께 포함해 주세요.\n\n- **Idempotency-Key**: 300자 이하의 고유한 문자열. 같은 작업을 여러 번 요청하더라도, 이 키를 통해 동일한 요청으로 인식됩니다.  \n  단, 동일한 키로 요청할 경우 본문(payload)의 내용도 반드시 같아야 합니다.\n\n멱등 요청 시 발생할 수 있는 오류는 다음과 같습니다:\n\n- **400 Bad Request**: 멱등 요청에 필요한 **Idempotency-Key**가 누락되었거나 형식이 잘못된 경우\n- **409 Conflict**: 이전에 동일한 **Idempotency-Key**로 요청이 들어와 아직 처리 중인데, 또 같은 키로 요청이 들어온 경우\n- **422 Unprocessable Entity**: 이전 요청과 동일한 **Idempotency-Key**를 사용했지만, 본문(payload)의 내용이 다른 경우\n\n참고로, 시스템 내부 오류가 아닌 **비즈니스 로직 오류에 한해서만 멱등 요청으로 인정**됩니다.  \n즉, 시스템 예외가 발생한 경우에는 재요청이 동일한 결과를 보장하지 않을 수 있습니다.\n\n### 응답에 Trace ID 포함\n\n모든 API 응답에는 **X-Goodpon-Trace-Id**라는 HTTP 헤더가 포함됩니다.  \n이 헤더는 요청을 고유하게 식별하며, 문제가 발생했을 때 디버깅이나 기술 지원을 위해 활용할 수 있습니다.\n"
  version: 1.0.0
servers:
  - url: https://api.goodpon.site
tags: []
paths:
  /v1/user-coupons:
    get:
      tags:
        - Coupon
      summary: 사용자가 보유한 쿠폰 목록 조회
      description: 사용자가 보유한 쿠폰 목록 조회 API
      operationId: 사용자가 보유한 쿠폰 목록 조회 - 성공
      parameters:
        - name: userId
          in: query
          description: 고객사의 고유 사용자 ID
          required: true
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<UserCouponsView>'
              examples:
                사용자가 보유한 쿠폰 목록 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"coupons\" : [ {\n      \"userCouponId\" : \"8f3b95144877a0dcbaad2b321380\",\n      \"couponTemplateId\" : 1,\n      \"couponTemplateName\" : \"테스트 쿠폰\",\n      \"couponTemplateDescription\" : \"테스트 쿠폰 설명\",\n      \"discountType\" : \"FIXED_AMOUNT\",\n      \"discountValue\" : 1000,\n      \"maxDiscountAmount\" : null,\n      \"minOrderAmount\" : 10000,\n      \"issuedAt\" : \"2025-08-04T02:31:07.864280536\",\n      \"expiresAt\" : \"2025-09-03T02:31:07.864291146\",\n      \"limitType\" : \"ISSUE_COUNT\",\n      \"maxIssueCount\" : 1000,\n      \"maxRedeemCount\" : null,\n      \"isRedeemable\" : true\n    } ]\n  },\n  \"error\" : null\n}"
  /v1/coupon-templates/{couponTemplateId}:
    get:
      tags:
        - Coupon
      summary: 사용자에 따른 쿠폰 템플릿 상세 조회
      description: 사용자에 따른 쿠폰 템플릿 상세 조회 API
      operationId: '사용자에 따른 쿠폰 템플릿 상세 조회 - '
      parameters:
        - name: couponTemplateId
          in: path
          description: 쿠폰 템플릿 ID
          required: true
          schema:
            type: string
        - name: userId
          in: query
          description: "고객사의 고유 사용자 ID, 비로그인 사용자 시 미지정"
          required: false
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CouponTemplateDetailForUser>'
              examples:
                사용자에 따른 쿠폰 템플릿 상세 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"name\" : \"테스트 쿠폰\",\n    \"description\" : \"테스트 쿠폰 설명\",\n    \"discountType\" : \"FIXED_AMOUNT\",\n    \"discountValue\" : 1000,\n    \"maxDiscountAmount\" : null,\n    \"minOrderAmount\" : 15000,\n    \"status\" : \"ISSUABLE\",\n    \"validityDays\" : 30,\n    \"absoluteExpiresAt\" : \"2025-09-03T02:31:07.693290495\",\n    \"issueStartAt\" : \"2025-08-04T02:31:07.693303008\",\n    \"issueEndAt\" : \"2025-08-14T02:31:07.693308378\",\n    \"limitType\" : \"ISSUE_COUNT\",\n    \"maxIssueCount\" : 1000,\n    \"maxRedeemCount\" : null,\n    \"currentIssueCount\" : 200,\n    \"currentRedeemCount\" : 100,\n    \"issuanceStatus\" : \"AVAILABLE\"\n  },\n  \"error\" : null\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                사용자에 따른 쿠폰 템플릿 상세 조회 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
  /v1/user-coupons/available:
    get:
      tags:
        - Coupon
      summary: 사용자의 사용 가능한 쿠폰 목록 조회
      description: 사용자의 사용 가능한 쿠폰 목록 조회 API
      operationId: 사용자의 사용 가능한 쿠폰 목록 조회 - 성공
      parameters:
        - name: userId
          in: query
          description: 고객사의 고유 사용자 ID
          required: true
          schema:
            type: string
        - name: orderAmount
          in: query
          description: 주문 금액
          required: true
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<AvailableUserCouponsView>'
              examples:
                사용자의 사용 가능한 쿠폰 목록 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"coupons\" : [ {\n      \"userCouponId\" : \"8f3b95144877a0dcbaad2b321380\",\n      \"couponTemplateId\" : 1,\n      \"couponTemplateName\" : \"테스트 쿠폰\",\n      \"couponTemplateDescription\" : \"테스트 쿠폰 설명\",\n      \"discountType\" : \"FIXED_AMOUNT\",\n      \"discountValue\" : 1000,\n      \"maxDiscountAmount\" : null,\n      \"minOrderAmount\" : 10000,\n      \"issuedAt\" : \"2025-08-04T02:31:07.088422194\",\n      \"expiresAt\" : \"2025-09-03T02:31:07.088433886\",\n      \"limitType\" : \"ISSUE_COUNT\",\n      \"maxIssueCount\" : 1000,\n      \"maxRedeemCount\" : null,\n      \"isMinOrderAmountReached\" : true\n    } ]\n  },\n  \"error\" : null\n}"
  /v1/coupon-templates/{couponTemplateId}/issue:
    post:
      tags:
        - Coupon
      summary: 쿠폰 발급
      description: 쿠폰 발급 API
      operationId: '쿠폰 발급 - '
      parameters:
        - name: couponTemplateId
          in: path
          description: 쿠폰 템플릿 ID
          required: true
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
        - name: Idempotency-Key
          in: header
          description: 중복 요청 방지를 위한 멱등키(고유) (300자 이하)
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCouponRequest'
            examples:
              쿠폰 발급 - 실패 - 사용자가 이미 발급한 쿠폰:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 실패 - 최대 발급 수량 초과:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 실패 - 발급할 수 있는 상태가 아님:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 실패 - 발급할 수 있는 기간이 아님:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 실패 - 존재하지 않는 쿠폰 템플릿:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
              쿠폰 발급 - 성공:
                value: "{\n  \"userId\" : \"partner-unique-user-id\"\n}"
      responses:
        "400":
          description: "400"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 발급 - 실패 - 사용자가 이미 발급한 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_ALREADY_ISSUED\",\n    \"message\" : \"사용자가 이미 발급한 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 발급 - 실패 - 최대 발급 수량 초과:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_MAX_ISSUE_COUNT_EXCEEDED\",\n    \"message\" : \"쿠폰 템플릿의 최대 발급 수량을 초과했습니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 발급 - 실패 - 발급할 수 있는 상태가 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_ISSUABLE\",\n    \"message\" : \"해당 쿠폰을 발급할 수 있는 상태가 아닙니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 발급 - 실패 - 발급할 수 있는 기간이 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_NOT_ISSUABLE_PERIOD\",\n    \"message\" : \"쿠폰을 발급할 수 있는 기간이 아닙니다.\",\n    \"data\" : null\n  }\n}"
        "403":
          description: "403"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 발급 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_OWNED_BY_MERCHANT\",\n    \"message\" : \"해당 쿠폰 템플릿은 현재 상점에서 소유하고 있지 않습니다.\",\n    \"data\" : null\n  }\n}"
        "404":
          description: "404"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 발급 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<IssueCouponResult>'
              examples:
                쿠폰 발급 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"userCouponId\" : \"8f3b95144877a0dcbaad2b321380\",\n    \"userId\" : \"partner-unique-user-id\",\n    \"couponTemplateId\" : 1,\n    \"couponTemplateName\" : \"테스트 쿠폰\",\n    \"issuedAt\" : \"2025-08-04T02:31:08.234914482\",\n    \"expiresAt\" : \"2025-09-03T02:31:08.234923398\"\n  },\n  \"error\" : null\n}"
  /v1/user-coupons/{userCouponId}/cancel:
    post:
      tags:
        - Coupon
      summary: 쿠폰 사용 취소
      description: 쿠폰 사용 취소 API
      operationId: '쿠폰 사용 취소 - '
      parameters:
        - name: userCouponId
          in: path
          description: 사용을 취소할 쿠폰의 ID
          required: true
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
        - name: Idempotency-Key
          in: header
          description: 중복 요청 방지를 위한 멱등키(고유) (300자 이하)
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelCouponRedemptionRequest'
            examples:
              쿠폰 사용 취소 - 실패 - 이미 취소된 쿠폰:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 실패 - 쿠폰을 사용했던 주문과 일치하지 않음:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 실패 - 존재하지 않는 사용자 쿠폰:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 성공:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 실패 - 사용 취소할 수 없는 상태:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
              쿠폰 사용 취소 - 실패 - 존재하지 않는 쿠폰 템플릿:
                value: "{\n  \"cancelReason\" : \"결제 취소\",\n  \"orderId\" : \"b321838044d2aa8f3b95177a0dcb\"\n}"
      responses:
        "400":
          description: "400"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 취소 - 실패 - 이미 취소된 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_ALREADY_CANCELLED\",\n    \"message\" : \"해당 쿠폰은 이미 취소된 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 취소 - 실패 - 쿠폰을 사용했던 주문과 일치하지 않음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_CANCEL_ORDER_ID_MISMATCH\",\n    \"message\" : \"쿠폰 사용 취소 시 쿠폰을 사용했던 주문 ID와 동일해야 합니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 취소 - 실패 - 사용 취소할 수 없는 상태:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_CANCEL_NOT_ALLOWED\",\n    \"message\" : \"해당 쿠폰은 사용 취소할 수 없는 상태입니다.\",\n    \"data\" : null\n  }\n}"
        "403":
          description: "403"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 취소 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_OWNED_BY_MERCHANT\",\n    \"message\" : \"해당 쿠폰 템플릿은 현재 상점에서 소유하고 있지 않습니다.\",\n    \"data\" : null\n  }\n}"
        "404":
          description: "404"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 취소 - 실패 - 존재하지 않는 사용자 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 취소 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CancelCouponRedemptionResult>'
              examples:
                쿠폰 사용 취소 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"userCouponId\" : \"8f3b95144877a0dcbaad2b321380\",\n    \"status\" : \"ISSUED\",\n    \"canceledAt\" : \"2025-08-04T02:31:07.00488678\",\n    \"cancelReason\" : \"결제 취소\"\n  },\n  \"error\" : null\n}"
  /v1/user-coupons/{userCouponId}/redeem:
    post:
      tags:
        - Coupon
      summary: 쿠폰 사용
      description: 쿠폰 사용 API
      operationId: '쿠폰 사용 - '
      parameters:
        - name: userCouponId
          in: path
          description: 사용할 쿠폰의 ID
          required: true
          schema:
            type: string
        - name: X-Goodpon-Client-Id
          in: header
          description: 발급받은 상점의 클라이언트 ID
          required: true
          schema:
            type: string
          example: "{client-id}"
        - name: X-Goodpon-Client-Secret
          in: header
          description: 발급받은 상점의 클라이언트 Secret
          required: true
          schema:
            type: string
          example: "{client-secret}"
        - name: Idempotency-Key
          in: header
          description: 중복 요청 방지를 위한 멱등키(고유) (300자 이하)
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemCouponRequest'
            examples:
              쿠폰 사용 - 실패 - 최대 사용 수량 초과:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 사용자가 소유한 쿠폰이 아님:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 존재하지 않는 쿠폰 템플릿:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 쿠폰이 발급된 상태가 아님:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 만료된 쿠폰:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 성공:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 쿠폰을 사용할 수 있는 상태가 아님:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 존재하지 않는 사용자 쿠폰:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 사용 조건을 만족하지 못함:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
              쿠폰 사용 - 실패 - 이미 사용한 쿠폰:
                value: "{\n  \"userId\" : \"2bd98f3b7a8a3d7c51424b0a1380\",\n  \"orderAmount\" : 15000,\n  \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\"\n}"
      responses:
        "400":
          description: "400"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 - 실패 - 최대 사용 수량 초과:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_MAX_REDEEM_COUNT_EXCEEDED\",\n    \"message\" : \"쿠폰 템플릿의 최대 사용 수량을 초과했습니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 쿠폰이 발급된 상태가 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_NOT_REDEEMABLE\",\n    \"message\" : \"해당 쿠폰을 사용할 수 있는 상태가 아닙니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 만료된 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_EXPIRED\",\n    \"message\" : \"해당 쿠폰은 만료된 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 쿠폰을 사용할 수 있는 상태가 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_NOT_REDEEMABLE\",\n    \"message\" : \"해당 쿠폰을 사용할 수 있는 상태가 아닙니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 사용 조건을 만족하지 못함:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_REDEEM_CONDITION_NOT_MET\",\n    \"message\" : \"쿠폰 사용 조건을 충족하지 못했습니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 이미 사용한 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_ALREADY_REDEEMED\",\n    \"message\" : \"해당 쿠폰은 이미 사용된 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
        "403":
          description: "403"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 - 실패 - 상점이 소유한 쿠폰 템플릿이 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_OWNED_BY_MERCHANT\",\n    \"message\" : \"해당 쿠폰 템플릿은 현재 상점에서 소유하고 있지 않습니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 사용자가 소유한 쿠폰이 아님:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_NOT_OWNED_BY_USER\",\n    \"message\" : \"해당 쿠폰은 사용자가 소유한 쿠폰이 아닙니다.\",\n    \"data\" : null\n  }\n}"
        "404":
          description: "404"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 사용 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 사용 - 실패 - 존재하지 않는 사용자 쿠폰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"USER_COUPON_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          headers:
            Idempotency-Key:
              description: 중복 요청 방지를 위해 사용한 멱등키(고유)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<RedeemCouponResult>'
              examples:
                쿠폰 사용 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"userCouponId\" : \"8f3b95144877a0dcbaad2b321380\",\n    \"discountAmount\" : 2000,\n    \"originalPrice\" : 15000,\n    \"finalPrice\" : 13000,\n    \"orderId\" : \"a3d2bd95142487cb8f3b7a0a1380\",\n    \"redeemedAt\" : \"2025-08-04T02:31:08.557599497\"\n  },\n  \"error\" : null\n}"
components:
  schemas:
    ApiResponse<CancelCouponRedemptionResult>:
      title: ApiResponse<CancelCouponRedemptionResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - cancelReason
            - canceledAt
            - status
            - userCouponId
          type: object
          properties:
            canceledAt:
              type: string
              description: 쿠폰 사용 취소 시각
            userCouponId:
              type: string
              description: 사용 취소된 쿠폰의 ID
            cancelReason:
              type: string
              description: 쿠폰 사용 취소 사유
            status:
              type: string
              description: 쿠폰의 현재 상태
          description: 응답 데이터
    ApiResponse<CouponTemplateDetailForUser>:
      title: ApiResponse<CouponTemplateDetailForUser>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - absoluteExpiresAt
            - currentIssueCount
            - currentRedeemCount
            - description
            - discountType
            - discountValue
            - id
            - issuanceStatus
            - issueEndAt
            - issueStartAt
            - limitType
            - minOrderAmount
            - name
            - status
            - validityDays
          type: object
          properties:
            maxIssueCount:
              type: number
              description: 최대 발급 수량
              nullable: true
            issueEndAt:
              type: string
              description: 발급 종료 일시
            issueStartAt:
              type: string
              description: 발급 시작 일시
            currentIssueCount:
              type: number
              description: 현재 발급된 쿠폰 수량
            description:
              type: string
              description: 쿠폰 템플릿 설명
            absoluteExpiresAt:
              type: string
              description: 절대 만료 일시
            limitType:
              type: string
              description: 쿠폰 제한 정책 유형
            maxRedeemCount:
              type: number
              description: 최대 사용 수량
              nullable: true
            currentRedeemCount:
              type: number
              description: 현재 사용된 쿠폰 수량
            issuanceStatus:
              type: string
              description: "쿠폰 발급 가능 여부 (AVAILABLE, PERIOD_NOT_STARTED, PERIOD_ENDED, MAX_REDEEM_COUNT_EXCEEDED, MAX_ISSUE_COUNT_EXCEEDED, ALREADY_ISSUED_BY_USER)"
            minOrderAmount:
              type: number
              description: 최소 주문 금액
            maxDiscountAmount:
              type: number
              description: 최대 할인 금액
              nullable: true
            name:
              type: string
              description: 쿠폰 템플릿 이름
            discountType:
              type: string
              description: 할인 유형
            id:
              type: number
              description: 쿠폰 템플릿 ID
            discountValue:
              type: number
              description: 할인 금액
            validityDays:
              type: number
              description: 유효 기간(일)
            status:
              type: string
              description: 쿠폰 템플릿 상태
          description: 응답 데이터
    ApiResponse<Unit>:
      title: ApiResponse<Unit>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        error:
          required:
            - code
            - message
          type: object
          properties:
            code:
              type: string
              description: 오류 코드
            message:
              type: string
              description: 오류 메시지
          description: 오류 정보
    ApiResponse<RedeemCouponResult>:
      title: ApiResponse<RedeemCouponResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - discountAmount
            - finalPrice
            - orderId
            - originalPrice
            - redeemedAt
            - userCouponId
          type: object
          properties:
            originalPrice:
              type: number
              description: 원래 가격
            orderId:
              type: string
              description: 주문 ID
            redeemedAt:
              type: string
              description: 쿠폰 사용 시각
            finalPrice:
              type: number
              description: 할인 적용 후 최종 가격
            discountAmount:
              type: number
              description: 할인 금액
            userCouponId:
              type: string
              description: 사용된 쿠폰의 ID
          description: 응답 데이터
    CancelCouponRedemptionRequest:
      title: CancelCouponRedemptionRequest
      required:
        - cancelReason
        - orderId
      type: object
      properties:
        orderId:
          type: string
          description: 고유한 주문 ID
        cancelReason:
          type: string
          description: 쿠폰 사용 취소 사유
    ApiResponse<AvailableUserCouponsView>:
      title: ApiResponse<AvailableUserCouponsView>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - coupons
          type: object
          properties:
            coupons:
              type: array
              description: 사용자가 보유한 쿠폰 목록
              items:
                required:
                  - couponTemplateDescription
                  - couponTemplateId
                  - couponTemplateName
                  - discountType
                  - discountValue
                  - expiresAt
                  - isMinOrderAmountReached
                  - issuedAt
                  - limitType
                  - minOrderAmount
                  - userCouponId
                type: object
                properties:
                  maxIssueCount:
                    type: number
                    description: 최대 발급 수량
                    nullable: true
                  couponTemplateName:
                    type: string
                    description: 쿠폰 템플릿 이름
                  couponTemplateId:
                    type: number
                    description: 쿠폰 템플릿 ID
                  userCouponId:
                    type: string
                    description: 사용자 쿠폰 ID
                  limitType:
                    type: string
                    description: 쿠폰 제한 정책 유형
                  expiresAt:
                    type: string
                    description: 만료 일시
                  maxRedeemCount:
                    type: number
                    description: 최대 사용 수량
                    nullable: true
                  couponTemplateDescription:
                    type: string
                    description: 쿠폰 템플릿 설명
                  minOrderAmount:
                    type: number
                    description: 최소 주문 금액
                  maxDiscountAmount:
                    type: number
                    description: 최대 할인 금액
                    nullable: true
                  isMinOrderAmountReached:
                    type: boolean
                    description: 최소 주문 금액 도달 여부
                  discountType:
                    type: string
                    description: 할인 유형
                  issuedAt:
                    type: string
                    description: 발급 일시
                  discountValue:
                    type: number
                    description: 할인 금액
          description: 응답 데이터
    IssueCouponRequest:
      title: IssueCouponRequest
      required:
        - userId
      type: object
      properties:
        userId:
          type: string
          description: 고객사의 고유 사용자 ID
    ApiResponse<UserCouponsView>:
      title: ApiResponse<UserCouponsView>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - coupons
          type: object
          properties:
            coupons:
              type: array
              description: 사용자가 보유한 쿠폰 목록
              items:
                required:
                  - couponTemplateDescription
                  - couponTemplateId
                  - couponTemplateName
                  - discountType
                  - discountValue
                  - expiresAt
                  - isRedeemable
                  - issuedAt
                  - limitType
                  - minOrderAmount
                  - userCouponId
                type: object
                properties:
                  maxIssueCount:
                    type: number
                    description: 최대 발급 수량
                    nullable: true
                  couponTemplateName:
                    type: string
                    description: 쿠폰 템플릿 이름
                  couponTemplateId:
                    type: number
                    description: 쿠폰 템플릿 ID
                  userCouponId:
                    type: string
                    description: 사용자 쿠폰 ID
                  limitType:
                    type: string
                    description: 쿠폰 제한 정책 유형
                  expiresAt:
                    type: string
                    description: 만료 일시
                  maxRedeemCount:
                    type: number
                    description: 최대 사용 수량
                    nullable: true
                  isRedeemable:
                    type: boolean
                    description: 쿠폰 사용 수량 제한에 따른 사용 가능 여부
                  couponTemplateDescription:
                    type: string
                    description: 쿠폰 템플릿 설명
                  minOrderAmount:
                    type: number
                    description: 최소 주문 금액
                  maxDiscountAmount:
                    type: number
                    description: 최대 할인 금액
                    nullable: true
                  discountType:
                    type: string
                    description: 할인 유형
                  issuedAt:
                    type: string
                    description: 발급 일시
                  discountValue:
                    type: number
                    description: 할인 금액
          description: 응답 데이터
    ApiResponse<IssueCouponResult>:
      title: ApiResponse<IssueCouponResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - couponTemplateId
            - couponTemplateName
            - issuedAt
            - userCouponId
            - userId
          type: object
          properties:
            couponTemplateName:
              type: string
              description: 쿠폰 템플릿 이름
            couponTemplateId:
              type: number
              description: 쿠폰 템플릿 ID
            issuedAt:
              type: string
              description: 쿠폰 발급 시간
            userCouponId:
              type: string
              description: 발급된 쿠폰의 고유 ID
            userId:
              type: string
              description: 고객사의 고유 사용자 ID
            expiresAt:
              type: string
              description: 쿠폰 만료 시간
              nullable: true
          description: 응답 데이터
    RedeemCouponRequest:
      title: RedeemCouponRequest
      required:
        - orderAmount
        - orderId
        - userId
      type: object
      properties:
        orderAmount:
          type: number
          description: 주문 금액
        orderId:
          type: string
          description: 고유한 주문 ID
        userId:
          type: string
          description: 고유한 사용자 ID
  securitySchemes:
    clientId:
      type: apiKey
      name: X-Goodpon-Client-Id
      in: header
      description: "상점 클라이언트 ID를 나타내는 HTTP 헤더"
    clientSecret:
      type: apiKey
      name: X-Goodpon-Client-Secret
      in: header
      description: "상점 클라이언트 시크릿을 나타내는 HTTP 헤더"
    idempotencyKey:
      type: apiKey
      name: Idempotency-Key
      in: header
      description: "API 호출의 멱등성을 보장하기 위한 키. 중복 요청을 방지합니다."
security:
  - clientId: []
  - clientSecret: []
