openapi: 3.0.1
info:
  title: Goodpon Dashboard API
  description: |
    ### 인증 방식 (Authentication)

    API 호출 시 다음과 같이 HTTP 헤더에 클라이언트 인증 정보를 포함해야 합니다.
    - `Authorization`: 액세스 토큰을 포함하는 헤더로, `Bearer {access-token}` 형식으로 전달됩니다.
  version: 1.0.0
servers:
  - url: https://dashboard-api.goodpon.site
tags: []
paths:
  /v1/accounts:
    get:
      tags:
        - Account
      summary: 내 계정 정보 조회
      description: 내 계정 조회 API
      operationId: 내 계정 정보 조회 - 성공
      parameters:
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<AccountInfo>'
              examples:
                내 계정 정보 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"email\" : \"test@goodpon.site\",\n    \"name\" : \"테스트 사용자\",\n    \"verified\" : true\n  },\n  \"error\" : null\n}"
  /v1/merchants:
    get:
      tags:
        - Merchant
      summary: 내 상점 목록 조회
      description: 내 상점 목록 조회 API
      operationId: 내 상점 목록 조회 - 성공
      parameters:
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<MyMerchantSummaries>'
              examples:
                내 상점 목록 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"merchants\" : [ {\n      \"id\" : 2,\n      \"name\" : \"두번째 상점\",\n      \"createdAt\" : \"2025-08-04T02:31:49.8337704\"\n    }, {\n      \"id\" : 1,\n      \"name\" : \"첫번째 상점\",\n      \"createdAt\" : \"2025-08-03T02:31:49.83378099\"\n    } ]\n  },\n  \"error\" : null\n}"
    post:
      tags:
        - Merchant
      summary: 상점 생성
      description: 상점 생성 API
      operationId: 상점 생성 - 성공
      parameters:
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchantRequest'
            examples:
              상점 생성 - 성공:
                value: "{\n  \"name\" : \"상점\"\n}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CreateMerchantResult>'
              examples:
                상점 생성 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"name\" : \"상점\",\n    \"clientId\" : \"ck_dd144f3b95144877a0dcbaad2b321380\",\n    \"clientSecrets\" : [ {\n      \"id\" : 1,\n      \"secret\" : \"sk_8f3b95144877a0dcbaad2b321380\",\n      \"expiredAt\" : null\n    } ],\n    \"merchantAccounts\" : [ {\n      \"id\" : 1,\n      \"accountId\" : 1,\n      \"role\" : \"OWNER\"\n    } ]\n  },\n  \"error\" : null\n}"
  /v1/accounts/sign-up:
    post:
      tags:
        - Account
      summary: 회원 가입
      description: 회원 가입 API
      operationId: '회원가입 - '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
            examples:
              회원가입 - 실패 - 이미 사용 중인 이메일:
                value: "{\n  \"email\" : \"existsEmail@goodpon.site\",\n  \"password\" : \"password123\",\n  \"name\" : \"테스트 사용자\"\n}"
              회원가입 - 실패 - 잘못된 입력값:
                value: "{\n  \"email\" : \"invalid-email-format\",\n  \"password\" : \"password123\",\n  \"name\" : \"테스트 사용자\"\n}"
              회원가입 - 성공:
                value: "{\n  \"email\" : \"test@goodpon.site\",\n  \"password\" : \"password123\",\n  \"name\" : \"테스트 사용자\"\n}"
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                회원가입 - 실패 - 이미 사용 중인 이메일:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_EMAIL_ALREADY_EXISTS\",\n    \"message\" : \"이미 사용 중인 이메일입니다.\",\n    \"data\" : null\n  }\n}"
                회원가입 - 실패 - 잘못된 입력값:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_SIGN_UP_INVALID_INPUT\",\n    \"message\" : \"계정 생성에 필요한 입력값이 올바르지 않습니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<SignUpResult>'
              examples:
                회원가입 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"email\" : \"test@goodpon.site\",\n    \"name\" : \"테스트 사용자\",\n    \"verified\" : false\n  },\n  \"error\" : null\n}"
  /v1/auth/login:
    post:
      tags:
        - Auth
      summary: 로그인
      description: 로그인 API
      operationId: '로그인 - '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              로그인 - 실패 - 존재하지 않는 계정:
                value: "{\n  \"email\" : \"noExists@goodpon.site\",\n  \"password\" : \"password123\"\n}"
              로그인 - 성공:
                value: "{\n  \"email\" : \"test@goodpon.site\",\n  \"password\" : \"password123\"\n}"
              로그인 - 실패 - 비밀번호 불일치:
                value: "{\n  \"email\" : \"test@goodpon.site\",\n  \"password\" : \"wrong password\"\n}"
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                로그인 - 실패 - 존재하지 않는 계정:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 계정입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<LoginResult>'
              examples:
                로그인 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"email\" : \"test@goodpon.site\",\n    \"name\" : \"테스트 사용자\",\n    \"verified\" : true,\n    \"accessToken\" : \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30\"\n  },\n  \"error\" : null\n}"
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                로그인 - 실패 - 비밀번호 불일치:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"PASSWORD_MISMATCH\",\n    \"message\" : \"비밀번호가 일치하지 않습니다.\",\n    \"data\" : null\n  }\n}"
  /v1/auth/verify:
    post:
      tags:
        - Auth
      summary: 이메일 인증
      description: 이메일 인증 API
      operationId: '이메일 인증 - '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
            examples:
              이메일 인증 - 성공:
                value: "{\n  \"token\" : \"email-verification-token\"\n}"
              이메일 인증 - 실패 - 이미 인증된 계정:
                value: "{\n  \"token\" : \"invalid-email-verification-token\"\n}"
              이메일 인증 - 실패 - 유효하지 않는 이메일 인증 토큰:
                value: "{\n  \"token\" : \"invalid-email-verification-token\"\n}"
              이메일 인증 - 실패 - 존재하지 않는 계정:
                value: "{\n  \"token\" : \"invalid-email-verification-token\"\n}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                이메일 인증 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : \"이메일 인증이 완료되었습니다.\",\n  \"error\" : null\n}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                이메일 인증 - 실패 - 이미 인증된 계정:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_ALREADY_VERIFIED\",\n    \"message\" : \"이미 인증된 계정입니다.\",\n    \"data\" : null\n  }\n}"
                이메일 인증 - 실패 - 유효하지 않는 이메일 인증 토큰:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"INVALID_EMAIL_VERIFICATION_TOKEN\",\n    \"message\" : \"유효하지 않은 이메일 인증 토큰입니다.\",\n    \"data\" : null\n  }\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                이메일 인증 - 실패 - 존재하지 않는 계정:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 계정입니다.\",\n    \"data\" : null\n  }\n}"
  /v1/merchants/{merchantId}:
    get:
      tags:
        - Merchant
      summary: 상점 상세 조회
      description: 상점 상세 정보 조회 API
      operationId: '상점 상세 조회 - '
      parameters:
        - name: merchantId
          in: path
          description: 조회할 상점 ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<MyMerchantDetail>'
              examples:
                상점 상세 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"name\" : \"테스트 상점\",\n    \"clientId\" : \"ck_dd144f3b95144877a0dcbaad2b321380\",\n    \"merchantAccounts\" : [ {\n      \"merchantAccountId\" : 1,\n      \"accountId\" : 1,\n      \"email\" : \"test@goodpon.site\",\n      \"name\" : \"테스트 사용자\",\n      \"role\" : \"OWNER\",\n      \"createdAt\" : \"2025-08-04T02:31:49.697982081\"\n    } ],\n    \"clientSecrets\" : [ {\n      \"merchantClientSecretId\" : 1,\n      \"secret\" : \"sk_8f3b95144877a0dcbaad2b321380\",\n      \"createdAt\" : \"2025-08-04T02:31:49.69800277\",\n      \"expiredAt\" : null\n    } ],\n    \"createdAt\" : \"2025-08-04T02:31:49.698006227\",\n    \"updatedAt\" : \"2025-08-04T02:31:49.698007148\"\n  },\n  \"error\" : null\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-1196333992'
              examples:
                상점 상세 조회 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
  /v1/auth/verify/resend:
    post:
      tags:
        - Auth
      summary: 인증 이메일 재전송
      description: 인증 이메일 재전송 API
      operationId: '인증 이메일 재전송 - '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationEmailRequest'
            examples:
              인증 이메일 재전송 - 성공:
                value: "{\n  \"email\" : \"test@goodpon.site\"\n}"
              인증 이메일 재전송 - 실패 - 존재하지 않는 이메일:
                value: "{\n  \"email\" : \"test@goodpon.site\"\n}"
              인증 이메일 재전송 - 실패 - 이미 인증된 이메일:
                value: "{\n  \"email\" : \"test@goodpon.site\"\n}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                인증 이메일 재전송 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : \"인증 이메일이 재전송되었습니다.\",\n  \"error\" : null\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                인증 이메일 재전송 - 실패 - 존재하지 않는 이메일:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 계정입니다.\",\n    \"data\" : null\n  }\n}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                인증 이메일 재전송 - 실패 - 이미 인증된 이메일:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"ACCOUNT_ALREADY_VERIFIED\",\n    \"message\" : \"이미 인증된 계정입니다.\",\n    \"data\" : null\n  }\n}"
  /v1/merchants/{merchantId}/coupon-histories:
    get:
      tags:
        - Coupon Template
      summary: 쿠폰 내역 목록 조회
      description: 쿠폰 내역 목록 조회 API
      operationId: '쿠폰 내역 목록 조회 - '
      parameters:
        - name: merchantId
          in: path
          description: 상점 ID
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          description: 조회 시작 날짜 (yyyy-MM-dd 형식) (선택 사항)
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: 조회 종료 날짜 (yyyy-MM-dd 형식) (선택 사항)
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: 주문 ID (선택 사항)
          required: false
          schema:
            type: string
        - name: userId
          in: query
          description: 사용자 ID (선택 사항)
          required: false
          schema:
            type: string
        - name: couponTemplateId
          in: query
          description: 쿠폰 템플릿 ID (선택 사항)
          required: false
          schema:
            type: string
        - name: nextCursor
          in: query
          description: "다음 페이지 커서 (쿠폰 내역 ID, 선택 사항)"
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: "페이지 크기, 기본값은 20, 최대값은 100 (선택 사항)"
          required: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 내역 목록 조회 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 내역 목록 조회 - 실패 - 상점 접근 권한 없음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"NO_MERCHANT_ACCESS_PERMISSION\",\n    \"message\" : \"해당 상점에 접근할 수 있는 권한이 없습니다.\",\n    \"data\" : null\n  }\n}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 내역 목록 조회 - 실패 - 입력값 유효성 검사 실패:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"BAD_REQUEST\",\n    \"message\" : \"잘못된 요청입니다.\",\n    \"data\" : [ {\n      \"field\" : \"startDate\",\n      \"message\" : \"startDate는 endDate보다 이후일 수 없습니다.\"\n    }, {\n      \"field\" : \"size\",\n      \"message\" : \"size는 1 이상 100 이하이어야 합니다.\"\n    } ]\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CouponHistoryQueryResult>'
              examples:
                쿠폰 내역 목록 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"content\" : [ {\n      \"historyId\" : \"14bdd144f3b95ad23213804877a0dcba\",\n      \"actionType\" : \"ISSUE\",\n      \"recordedAt\" : \"2025-08-04T02:31:48.902393467\",\n      \"orderId\" : \"your-unique-order-id\",\n      \"reason\" : null,\n      \"userCouponId\" : \"213804877a0dcba14bdd144f3b95ad23\",\n      \"userId\" : \"your-unique-user-id\",\n      \"couponTemplateId\" : 1,\n      \"couponTemplateName\" : \"여름 할인 쿠폰\"\n    } ],\n    \"size\" : 20,\n    \"hasMore\" : true,\n    \"nextCursor\" : \"dd144f3b95144877a0dcbaad2b321380\"\n  },\n  \"error\" : null\n}"
  /v1/merchants/{merchantId}/coupon-templates:
    get:
      tags:
        - Coupon Template
      summary: 상점의 쿠폰 템플릿 목록 조회
      description: 상점의 쿠폰 템플릿 목록 조회 API
      operationId: '상점의 쿠폰 템플릿 목록 조회 - '
      parameters:
        - name: merchantId
          in: path
          description: 쿠폰 템플릿이 있는 상점 ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-1196333992'
              examples:
                상점의 쿠폰 템플릿 목록 조회 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CouponTemplateSummaries>'
              examples:
                상점의 쿠폰 템플릿 목록 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"templates\" : [ {\n      \"id\" : 2,\n      \"name\" : \"테스트 쿠폰 2\",\n      \"description\" : \"테스트 쿠폰 설명 2\",\n      \"status\" : \"ISSUABLE\",\n      \"issueCount\" : 100,\n      \"redeemCount\" : 50,\n      \"createdAt\" : \"2025-07-14T10:00:00\"\n    }, {\n      \"id\" : 1,\n      \"name\" : \"테스트 쿠폰 1\",\n      \"description\" : \"테스트 쿠폰 설명 1\",\n      \"status\" : \"ISSUABLE\",\n      \"issueCount\" : 40,\n      \"redeemCount\" : 30,\n      \"createdAt\" : \"2025-07-13T10:00:00\"\n    } ]\n  },\n  \"error\" : null\n}"
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-1196333992'
              examples:
                상점의 쿠폰 템플릿 목록 조회 - 실패 - 상점 접근 권한 없음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"NO_MERCHANT_ACCESS_PERMISSION\",\n    \"message\" : \"해당 상점에 접근할 수 있는 권한이 없습니다.\",\n    \"data\" : null\n  }\n}"
    post:
      tags:
        - Coupon Template
      summary: 쿠폰 템플릿 생성
      description: 쿠폰 템플릿 생성 API
      operationId: '쿠폰 템플릿 생성 - '
      parameters:
        - name: merchantId
          in: path
          description: 쿠폰 템플릿을 생성할 상점 ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponTemplateRequest'
            examples:
              쿠폰 템플릿 생성 - 실패 - 상점 접근 권한 없음:
                value: "{\n  \"name\" : \"테스트 쿠폰\",\n  \"description\" : \"테스트 쿠폰 설명\",\n  \"minOrderAmount\" : 10000,\n  \"discountType\" : \"FIXED_AMOUNT\",\n  \"discountValue\" : 1000,\n  \"maxDiscountAmount\" : null,\n  \"issueStartDate\" : \"2025-07-13\",\n  \"issueEndDate\" : \"2025-07-20\",\n  \"validityDays\" : 30,\n  \"absoluteExpiryDate\" : \"2025-08-20\",\n  \"limitType\" : \"ISSUE_COUNT\",\n  \"maxIssueCount\" : 2000,\n  \"maxRedeemCount\" : null\n}"
              쿠폰 템플릿 생성 - 성공:
                value: "{\n  \"name\" : \"테스트 쿠폰\",\n  \"description\" : \"테스트 쿠폰 설명\",\n  \"minOrderAmount\" : 10000,\n  \"discountType\" : \"FIXED_AMOUNT\",\n  \"discountValue\" : 1000,\n  \"maxDiscountAmount\" : null,\n  \"issueStartDate\" : \"2025-07-13\",\n  \"issueEndDate\" : \"2025-07-20\",\n  \"validityDays\" : 30,\n  \"absoluteExpiryDate\" : \"2025-08-20\",\n  \"limitType\" : \"ISSUE_COUNT\",\n  \"maxIssueCount\" : 2000,\n  \"maxRedeemCount\" : null\n}"
              쿠폰 템플릿 생성 - 실패 - 유효하지 않은 요청 데이터:
                value: "{\n  \"name\" : \"테스트 쿠폰\",\n  \"description\" : \"테스트 쿠폰 설명\",\n  \"minOrderAmount\" : 0,\n  \"discountType\" : \"PERCENTAGE\",\n  \"discountValue\" : 105,\n  \"maxDiscountAmount\" : 5000,\n  \"issueStartDate\" : \"2025-08-09\",\n  \"issueEndDate\" : \"2025-08-07\",\n  \"validityDays\" : 3,\n  \"absoluteExpiryDate\" : \"2025-07-27\",\n  \"limitType\" : \"ISSUE_COUNT\",\n  \"maxIssueCount\" : 100,\n  \"maxRedeemCount\" : 200\n}"
              쿠폰 템플릿 생성 - 실패 - 존재하지 않는 상점:
                value: "{\n  \"name\" : \"테스트 쿠폰\",\n  \"description\" : \"테스트 쿠폰 설명\",\n  \"minOrderAmount\" : 10000,\n  \"discountType\" : \"FIXED_AMOUNT\",\n  \"discountValue\" : 1000,\n  \"maxDiscountAmount\" : null,\n  \"issueStartDate\" : \"2025-07-13\",\n  \"issueEndDate\" : \"2025-07-20\",\n  \"validityDays\" : 30,\n  \"absoluteExpiryDate\" : \"2025-08-20\",\n  \"limitType\" : \"ISSUE_COUNT\",\n  \"maxIssueCount\" : 2000,\n  \"maxRedeemCount\" : null\n}"
      responses:
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 템플릿 생성 - 실패 - 상점 접근 권한 없음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"NO_MERCHANT_ACCESS_PERMISSION\",\n    \"message\" : \"해당 상점에 접근할 수 있는 권한이 없습니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CreateCouponTemplateResult>'
              examples:
                쿠폰 템플릿 생성 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"name\" : \"테스트 쿠폰\",\n    \"description\" : \"테스트 쿠폰 설명\",\n    \"merchantId\" : 1,\n    \"minOrderAmount\" : 10000,\n    \"discountType\" : \"FIXED_AMOUNT\",\n    \"discountValue\" : 1000,\n    \"maxDiscountAmount\" : null,\n    \"issueStartAt\" : \"2025-07-13T00:00:00\",\n    \"issueEndAt\" : \"2025-07-21T00:00:00\",\n    \"validityDays\" : 30,\n    \"absoluteExpiresAt\" : \"2025-08-21T00:00:00\",\n    \"limitType\" : \"ISSUE_COUNT\",\n    \"maxIssueCount\" : 2000,\n    \"maxRedeemCount\" : null,\n    \"status\" : \"DRAFT\"\n  },\n  \"error\" : null\n}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-coupon-templates1838914843'
              examples:
                쿠폰 템플릿 생성 - 실패 - 유효하지 않은 요청 데이터:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_VALIDATION_FAILED\",\n    \"message\" : \"잘못된 쿠폰 템플릿 생성 요청입니다. 각 필드의 오류를 확인하세요.\",\n    \"data\" : [ {\n      \"field\" : \"minOrderAmount\",\n      \"message\" : \"쿠폰 사용 조건의 최소 주문 금액은 0보다 커야 합니다.\"\n    }, {\n      \"field\" : \"discountValue\",\n      \"message\" : \"백분율 할인 값은 1~100 사이여야 합니다.\"\n    }, {\n      \"field\" : \"issueEndDate\",\n      \"message\" : \"쿠폰 발행 종료일은 발행 시작일보다 이전일 수 없습니다.\"\n    }, {\n      \"field\" : \"maxRedeemCount\",\n      \"message\" : \"발행 제한 정책이 설정된 쿠폰은 사용 제한 수량을 함께 설정할 수 없습니다.\"\n    } ]\n  }\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 템플릿 생성 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
  /v1/merchants/{merchantId}/coupon-templates/{couponTemplateId}:
    get:
      tags:
        - Coupon Template
      summary: 쿠폰 템플릿 상세 조회
      description: 쿠폰 템플릿 상세 조회 API
      operationId: '쿠폰 템플릿 상세 조회 - '
      parameters:
        - name: merchantId
          in: path
          description: 쿠폰 템플릿이 있는 상점 ID
          required: true
          schema:
            type: string
        - name: couponTemplateId
          in: path
          description: 조회할 쿠폰 템플릿 ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-1196333992'
              examples:
                쿠폰 템플릿 상세 조회 - 실패 - 상점 접근 권한 없음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"NO_MERCHANT_ACCESS_PERMISSION\",\n    \"message\" : \"해당 상점에 접근할 수 있는 권한이 없습니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 템플릿 상세 조회 - 실패 - 상점이 소유하지 않은 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_OWNED_BY_MERCHANT\",\n    \"message\" : \"상점이 소유한 쿠폰 템플릿이 아닙니다.\",\n    \"data\" : null\n  }\n}"
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-merchants-merchantId-1196333992'
              examples:
                쿠폰 템플릿 상세 조회 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 템플릿 상세 조회 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<CouponTemplateDetail>'
              examples:
                쿠폰 템플릿 상세 조회 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"merchantId\" : 1,\n    \"name\" : \"테스트 쿠폰\",\n    \"description\" : \"테스트 쿠폰 설명\",\n    \"minOrderAmount\" : 10000,\n    \"discountType\" : \"FIXED_AMOUNT\",\n    \"discountValue\" : 1000,\n    \"maxDiscountAmount\" : null,\n    \"status\" : \"ISSUABLE\",\n    \"issueStartAt\" : \"2025-07-13T00:00:00\",\n    \"issueEndAt\" : \"2025-07-21T00:00:00\",\n    \"validityDays\" : null,\n    \"absoluteExpiresAt\" : null,\n    \"limitType\" : \"ISSUE_COUNT\",\n    \"maxIssueCount\" : 100,\n    \"maxRedeemCount\" : null,\n    \"issueCount\" : 30,\n    \"redeemCount\" : 10,\n    \"createdAt\" : \"2025-07-13T10:00:00\"\n  },\n  \"error\" : null\n}"
  /v1/merchants/{merchantId}/coupon-templates/{couponTemplateId}/publish:
    post:
      tags:
        - Coupon Template
      summary: 쿠폰 템플릿 발행
      description: 쿠폰 템플릿 발행 API
      operationId: '쿠폰 템플릿 발행 - '
      parameters:
        - name: merchantId
          in: path
          description: 쿠폰 템플릿이 있는 상점 ID
          required: true
          schema:
            type: string
        - name: couponTemplateId
          in: path
          description: 발행할 쿠폰 템플릿 ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "인증 토큰 (Bearer {access-token})"
          required: true
          schema:
            type: string
          example: "Bearer {access-token}"
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 템플릿 발행 - 실패 - 존재하지 않는 상점:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"MERCHANT_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 상점입니다.\",\n    \"data\" : null\n  }\n}"
                쿠폰 템플릿 발행 - 실패 - 존재하지 않는 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_NOT_FOUND\",\n    \"message\" : \"존재하지 않는 쿠폰 템플릿입니다.\",\n    \"data\" : null\n  }\n}"
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 템플릿 발행 - 실패 - 상점 접근 권한 없음:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"NO_MERCHANT_ACCESS_PERMISSION\",\n    \"message\" : \"해당 상점에 접근할 수 있는 권한이 없습니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<PublishCouponTemplateResult>'
              examples:
                쿠폰 템플릿 발행 - 성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\" : 1,\n    \"name\" : \"테스트 쿠폰\",\n    \"merchantId\" : 1,\n    \"status\" : \"ISSUABLE\"\n  },\n  \"error\" : null\n}"
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<Unit>'
              examples:
                쿠폰 템플릿 발행 - 실패 - 상점이 소유하지 않은 쿠폰 템플릿:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\" : {\n    \"code\" : \"COUPON_TEMPLATE_INVALID_STATUS_TO_PUBLISH\",\n    \"message\" : \"쿠폰 템플릿을 발행할 수 있는 상태가 아닙니다.\",\n    \"data\" : null\n  }\n}"
components:
  schemas:
    v1-merchants-merchantId-coupon-templates1838914843:
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        error:
          required:
            - code
            - data
            - message
          type: object
          properties:
            code:
              type: string
              description: 오류 코드
            data:
              type: array
              description: 오류 세부 정보 (필드별 오류 메시지)
              items:
                required:
                  - field
                  - message
                type: object
                properties:
                  field:
                    type: string
                    description: "오류가 발생한 필드 이름 (minOrderAmount, discountValue, issueEndDate, maxIssueCount 등)"
                  message:
                    type: string
                    description: 해당 필드의 오류 메시지
            message:
              type: string
              description: 오류 메시지
          description: 오류 정보
    LoginRequest:
      title: LoginRequest
      required:
        - email
        - password
      type: object
      properties:
        password:
          type: string
          description: 계정 비밀번호
        email:
          type: string
          description: 계정 이메일
    ApiResponse<Unit>:
      title: ApiResponse<Unit>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        error:
          required:
            - code
            - message
          type: object
          properties:
            code:
              type: string
              description: 오류 코드
            data:
              type: array
              description: 오류 데이터
              items:
                required:
                  - field
                  - message
                type: object
                properties:
                  field:
                    type: string
                    description: 오류가 발생한 필드
                  message:
                    type: string
                    description: 오류 메시지
            message:
              type: string
              description: 오류 메시지
          description: 오류 정보
    ApiResponse<CouponHistoryQueryResult>:
      title: ApiResponse<CouponHistoryQueryResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - hasMore
            - size
          type: object
          properties:
            nextCursor:
              type: string
              description: 다음 페이지 커서 (쿠폰 내역 ID)
              nullable: true
            size:
              type: number
              description: 현재 페이지의 실제 데이터 개수
            hasMore:
              type: boolean
              description: 다음 페이지가 있는지 여부
            content:
              type: array
              items:
                required:
                  - actionType
                  - couponTemplateId
                  - couponTemplateName
                  - historyId
                  - recordedAt
                  - userCouponId
                  - userId
                type: object
                properties:
                  reason:
                    type: string
                    description: 쿠폰 내역 사유 (선택 사항)
                    nullable: true
                  actionType:
                    type: string
                    description: 쿠폰 액션 타입
                  couponTemplateName:
                    type: string
                    description: 쿠폰 템플릿 이름
                  orderId:
                    type: string
                    description: 주문 ID (선택 사항)
                    nullable: true
                  recordedAt:
                    type: string
                    description: 쿠폰 내역 기록 시간
                  historyId:
                    type: string
                    description: 쿠폰 내역 ID
                  couponTemplateId:
                    type: number
                    description: 쿠폰 템플릿 ID
                  userCouponId:
                    type: string
                    description: 사용자 쿠폰 ID
                  userId:
                    type: string
                    description: 사용자 ID
          description: 응답 데이터
    ApiResponse<CreateCouponTemplateResult>:
      title: ApiResponse<CreateCouponTemplateResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - description
            - discountType
            - discountValue
            - id
            - issueStartAt
            - limitType
            - merchantId
            - name
            - status
          type: object
          properties:
            maxIssueCount:
              type: number
              description: 최대 발급 수량 (ISSUE_COUNT 선택 시
              nullable: true
            issueEndAt:
              type: string
              description: 쿠폰 발급 종료 날짜
              nullable: true
            issueStartAt:
              type: string
              description: 쿠폰 발급 시작 날짜
            description:
              type: string
              description: 쿠폰 템플릿 설명
            absoluteExpiresAt:
              type: string
              description: 쿠폰 절대 만료 날짜
              nullable: true
            limitType:
              type: string
              description: "쿠폰 제한 유형 (ISSUE_COUNT, REDEEM_COUNT, NONE)"
            maxRedeemCount:
              type: number
              description: 최대 사용 수량 (REDEEM_COUNT 선택 시)
              nullable: true
            minOrderAmount:
              type: number
              description: 최소 주문 금액
              nullable: true
            merchantId:
              type: number
              description: 상점 ID
            maxDiscountAmount:
              type: number
              description: 최대 할인 금액 (PERCENTAGE 선택 시)
              nullable: true
            name:
              type: string
              description: 쿠폰 템플릿 이름
            discountType:
              type: string
              description: "할인 유형 (FIXED_AMOUNT, PERCENTAGE)"
            id:
              type: number
              description: 쿠폰 템플릿 ID
            discountValue:
              type: number
              description: 할인 금액 또는 비율
            status:
              type: string
              description: "쿠폰 템플릿 상태 (DRAFT, ACTIVE, EXPIRED 등)"
            validityDays:
              type: number
              description: 쿠폰 유효 기간 (일 단위)
              nullable: true
          description: 응답 데이터
    ApiResponse<MyMerchantSummaries>:
      title: ApiResponse<MyMerchantSummaries>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          type: object
          properties:
            merchants:
              type: array
              items:
                required:
                  - createdAt
                  - id
                  - name
                type: object
                properties:
                  createdAt:
                    type: string
                    description: 상점 생성 시간
                  name:
                    type: string
                    description: 상점 이름
                  id:
                    type: number
                    description: 상점 ID
          description: 응답 데이터
    CreateMerchantRequest:
      title: CreateMerchantRequest
      required:
        - name
      type: object
      properties:
        name:
          type: string
          description: 상점 이름
    v1-merchants-merchantId-1196333992:
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        error:
          required:
            - code
            - message
          type: object
          properties:
            code:
              type: string
              description: 오류 코드
            message:
              type: string
              description: 오류 메시지
          description: 오류 정보
    CreateCouponTemplateRequest:
      title: CreateCouponTemplateRequest
      required:
        - description
        - discountType
        - discountValue
        - issueStartDate
        - limitType
        - name
      type: object
      properties:
        maxIssueCount:
          type: number
          description: 최대 발급 수량 (ISSUE_COUNT 선택 시)
          nullable: true
        issueEndDate:
          type: string
          description: 쿠폰 발급 종료 날짜 (YYYY-MM-DD 형식)
          nullable: true
        description:
          type: string
          description: 쿠폰 템플릿 설명
        limitType:
          type: string
          description: "쿠폰 제한 유형 (ISSUE_COUNT, REDEEM_COUNT, NONE)"
        maxRedeemCount:
          type: number
          description: 최대 사용 수량 (REDEEM_COUNT 선택 시)
          nullable: true
        minOrderAmount:
          type: number
          description: 최소 주문 금액
          nullable: true
        issueStartDate:
          type: string
          description: 쿠폰 발급 시작 날짜 (YYYY-MM-DD 형식)
        maxDiscountAmount:
          type: number
          description: 최대 할인 금액 (PERCENTAGE 선택 시)
          nullable: true
        name:
          type: string
          description: 쿠폰 템플릿 이름
        discountType:
          type: string
          description: "할인 유형 (FIXED_AMOUNT, PERCENTAGE)"
        discountValue:
          type: number
          description: 할인 금액 또는 비율
        absoluteExpiryDate:
          type: string
          description: 쿠폰 절대 만료 날짜 (YYYY-MM-DD 형식)
          nullable: true
        validityDays:
          type: number
          description: 쿠폰 유효 기간 (일 단위)
          nullable: true
    ApiResponse<PublishCouponTemplateResult>:
      title: ApiResponse<PublishCouponTemplateResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - id
            - merchantId
            - name
            - status
          type: object
          properties:
            merchantId:
              type: number
              description: 상점 ID
            name:
              type: string
              description: 쿠폰 템플릿 이름
            id:
              type: number
              description: 쿠폰 템플릿 ID
            status:
              type: string
              description: 쿠폰 템플릿 상태 ISSUABLE
          description: 응답 데이터
    ApiResponse<LoginResult>:
      title: ApiResponse<LoginResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - accessToken
            - email
            - id
            - name
            - verified
          type: object
          properties:
            verified:
              type: boolean
              description: 이메일 인증 여부
            name:
              type: string
              description: 사용자 이름
            id:
              type: number
              description: 사용자 ID
            accessToken:
              type: string
              description: 액세스 토큰
            email:
              type: string
              description: 사용자 이메일
          description: 응답 데이터
    ApiResponse<SignUpResult>:
      title: ApiResponse<SignUpResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - email
            - id
            - name
            - verified
          type: object
          properties:
            verified:
              type: boolean
              description: 이메일 인증 여부
            name:
              type: string
              description: 사용자 이름
            id:
              type: number
              description: 사용자 ID
            email:
              type: string
              description: 사용자 이메일
          description: 응답 데이터
    ApiResponse<CouponTemplateDetail>:
      title: ApiResponse<CouponTemplateDetail>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - createdAt
            - description
            - discountType
            - discountValue
            - id
            - issueCount
            - issueStartAt
            - limitType
            - merchantId
            - name
            - redeemCount
            - status
          type: object
          properties:
            maxIssueCount:
              type: number
              description: 최대 발급 수량
              nullable: true
            issueEndAt:
              type: string
              description: 쿠폰 발급 종료 날짜
              nullable: true
            issueStartAt:
              type: string
              description: 쿠폰 발급 시작 날짜
            description:
              type: string
              description: 쿠폰 템플릿 설명
            absoluteExpiresAt:
              type: string
              description: 쿠폰 절대 만료 날짜
              nullable: true
            issueCount:
              type: number
              description: 발급된 쿠폰 수
            limitType:
              type: string
              description: 쿠폰 제한 유형
            redeemCount:
              type: number
              description: 사용된 쿠폰 수
            maxRedeemCount:
              type: number
              description: 최대 사용 수량
              nullable: true
            createdAt:
              type: string
              description: 쿠폰 템플릿 생성 일시
            minOrderAmount:
              type: number
              description: 최소 주문 금액 (선택 사항)
              nullable: true
            merchantId:
              type: number
              description: 상점 ID
            maxDiscountAmount:
              type: number
              description: 최대 할인 금액 (PERCENTAGE 선택 시)
              nullable: true
            name:
              type: string
              description: 쿠폰 템플릿 이름
            discountType:
              type: string
              description: "할인 유형 (FIXED_AMOUNT, PERCENTAGE)"
            id:
              type: number
              description: 쿠폰 템플릿 ID
            discountValue:
              type: number
              description: 할인 금액 또는 비율
            validityDays:
              type: number
              description: 쿠폰 유효 기간
              nullable: true
            status:
              type: string
              description: 쿠폰 템플릿 상태
          description: 응답 데이터
    ApiResponse<AccountInfo>:
      title: ApiResponse<AccountInfo>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - email
            - id
            - name
            - verified
          type: object
          properties:
            verified:
              type: boolean
              description: 이메일 인증 여부
            name:
              type: string
              description: 사용자 이름
            id:
              type: number
              description: 사용자 ID
            email:
              type: string
              description: 사용자 이메일
          description: 응답 데이터
    ApiResponse<CouponTemplateSummaries>:
      title: ApiResponse<CouponTemplateSummaries>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          type: object
          properties:
            templates:
              type: array
              items:
                required:
                  - createdAt
                  - description
                  - id
                  - issueCount
                  - name
                  - redeemCount
                  - status
                type: object
                properties:
                  createdAt:
                    type: string
                    description: 쿠폰 템플릿 생성 일시
                  name:
                    type: string
                    description: 쿠폰 템플릿 이름
                  description:
                    type: string
                    description: 쿠폰 템플릿 설명
                  id:
                    type: number
                    description: 쿠폰 템플릿 ID
                  issueCount:
                    type: number
                    description: 발급된 쿠폰 수
                  redeemCount:
                    type: number
                    description: 사용된 쿠폰 수
                  status:
                    type: string
                    description: 쿠폰 템플릿 상태
          description: 응답 데이터
    VerifyEmailRequest:
      title: VerifyEmailRequest
      required:
        - token
      type: object
      properties:
        token:
          type: string
          description: 이메일 인증 토큰
    ApiResponse<MyMerchantDetail>:
      title: ApiResponse<MyMerchantDetail>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - clientId
            - clientSecrets
            - createdAt
            - id
            - merchantAccounts
            - name
            - updatedAt
          type: object
          properties:
            createdAt:
              type: string
              description: 상점 생성 시간
            clientSecrets:
              type: array
              description: 상점 클라이언트 시크릿 목록
              items:
                required:
                  - createdAt
                  - merchantClientSecretId
                  - secret
                type: object
                properties:
                  createdAt:
                    type: string
                    description: 상점 클라이언트 시크릿 생성 시간
                  secret:
                    type: string
                    description: 상점 클라이언트 시크릿 값
                  merchantClientSecretId:
                    type: number
                    description: 상점 클라이언트 시크릿 ID
            clientId:
              type: string
              description: 상점 클라이언트 ID
            name:
              type: string
              description: 상점 이름
            merchantAccounts:
              type: array
              description: 상점 계정 목록
              items:
                required:
                  - accountId
                  - createdAt
                  - email
                  - merchantAccountId
                  - name
                  - role
                type: object
                properties:
                  createdAt:
                    type: string
                    description: 상점 계정 생성 시간
                  accountId:
                    type: number
                    description: 상점 계정의 사용자 ID
                  role:
                    type: string
                    description: "상점 계정의 역할 (OWNER, STAFF)"
                  name:
                    type: string
                    description: 상점 계정의 사용자 이름
                  merchantAccountId:
                    type: number
                    description: 상점 계정 ID
                  email:
                    type: string
                    description: 상점 계정의 사용자 이메일
            id:
              type: number
              description: 상점 ID
            updatedAt:
              type: string
              description: 상점 정보 수정 시간
          description: 응답 데이터
    ResendVerificationEmailRequest:
      title: ResendVerificationEmailRequest
      required:
        - email
      type: object
      properties:
        email:
          type: string
          description: 인증 이메일을 재전송할 계정의 이메일
    ApiResponse<CreateMerchantResult>:
      title: ApiResponse<CreateMerchantResult>
      required:
        - data
        - error
        - result
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          required:
            - clientId
            - clientSecrets
            - id
            - merchantAccounts
            - name
          type: object
          properties:
            clientSecrets:
              type: array
              description: 상점 클라이언트 시크릿 목록
              items:
                required:
                  - id
                  - secret
                type: object
                properties:
                  secret:
                    type: string
                    description: 클라이언트 시크릿 값
                  id:
                    type: number
                    description: 클라이언트 시크릿 ID
            clientId:
              type: string
              description: 상점 클라이언트 ID
            name:
              type: string
              description: 상점 이름
            merchantAccounts:
              type: array
              description: 상점 계정 목록
              items:
                required:
                  - accountId
                  - id
                  - role
                type: object
                properties:
                  accountId:
                    type: number
                    description: 상점 계정의 사용자 ID
                  role:
                    type: string
                    description: "상점 계정의 역할 (OWNER, STAFF)"
                  id:
                    type: number
                    description: 상점 계정 ID
            id:
              type: number
              description: 상점 ID
          description: 응답 데이터
    SignUpRequest:
      title: SignUpRequest
      required:
        - email
        - name
        - password
      type: object
      properties:
        password:
          type: string
          description: 사용자 비밀번호
        name:
          type: string
          description: 사용자 이름
        email:
          type: string
          description: 사용자 이메일
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Authorization 헤더에 'Bearer {access-token}' 형식으로 전달되는 액세스 토큰"
security:
  - bearerAuth: []
