openapi: 3.0.1
info:
  title: Goodpon Dashboard API
  description: Goodpon Dashboard API Documentation
  version: 1.0.0
servers:
- url: https://dashboard.goodpon.site
tags: []
paths:
  /v1/account/sign-up:
    post:
      tags:
      - Account
      summary: 회원 가입 실패 - 이미 사용 중인 이메일
      description: "이메일은 고유해야 하며, 이미 등록된 이메일로 회원 가입을 시도할 수 없습니다."
      operationId: 성공실패 - 이미 사용 중인 이메일
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiResponse<SignUpRequest>'
            examples:
              실패 - 이미 사용 중인 이메일:
                value: "{\n  \"email\" : \"existsEmail@goodpon.site\",\n  \"password\"\
                  \ : \"password123\",\n  \"name\" : \"테스트 사용자\"\n}"
              성공:
                value: "{\n  \"email\" : \"test@goodpon.site\",\n  \"password\" :\
                  \ \"password123\",\n  \"name\" : \"테스트 사용자\"\n}"
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1-account-sign-up-164909755'
              examples:
                실패 - 이미 사용 중인 이메일:
                  value: "{\n  \"result\" : \"ERROR\",\n  \"data\" : null,\n  \"error\"\
                    \ : {\n    \"code\" : \"ACCOUNT_EMAIL_ALREADY_EXISTS\",\n    \"\
                    message\" : \"이미 사용 중인 이메일입니다.\",\n    \"data\" : null\n  }\n}"
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse<SignUpResult>'
              examples:
                성공:
                  value: "{\n  \"result\" : \"SUCCESS\",\n  \"data\" : {\n    \"id\"\
                    \ : 1,\n    \"email\" : \"test@goodpon.site\",\n    \"name\" :\
                    \ \"테스트 사용자\",\n    \"verified\" : false\n  },\n  \"error\" :\
                    \ null\n}"
components:
  schemas:
    ApiResponse<SignUpResult>:
      title: ApiResponse<SignUpResult>
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        data:
          type: object
          properties:
            verified:
              type: boolean
              description: 이메일 인증 여부
            name:
              type: string
              description: 사용자 이름
            id:
              type: number
              description: 사용자 ID
            email:
              type: string
              description: 사용자 이메일
          description: 회원가입 결과 데이터
    v1-account-sign-up-164909755:
      type: object
      properties:
        result:
          type: string
          description: 요청 결과 (SUCCESS/ERROR)
        error:
          type: object
          properties:
            code:
              type: string
              description: 오류 코드
            message:
              type: string
              description: 오류 메시지
          description: 오류 정보
    ApiResponse<SignUpRequest>:
      title: ApiResponse<SignUpRequest>
      type: object
      properties:
        password:
          type: string
          description: 사용자 비밀번호
        name:
          type: string
          description: 사용자 이름
        email:
          type: string
          description: 사용자 이메일
