name: Build & Deploy API Docs

on:
  workflow_dispatch:

env:
  DASHBOARD_OPENAPI_GENERATED_FILE: apps/dashboard/api/build/api-spec/openapi3.yaml
  DASHBOARD_API_DOCS_DIR: apps/dashboard/api/build/resources/main/static/api-docs

  PARTNER_OPENAPI_GENERATED_FILE: apps/partner/api/build/api-spec/openapi3.yaml
  PARTNER_API_DOCS_DIR: apps/partner/api/build/resources/main/static/api-docs

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build
        run: ./gradlew clean openapi3

      - name: Merge Dashboard OpenAPI Options
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq eval-all --inplace '. as $item ireduce ({}; . * $item)' ${{ env.DASHBOARD_OPENAPI_GENERATED_FILE }} ${{ env.DASHBOARD_API_DOCS_DIR }}/openapi3-options.yaml

      - name: Merge OpenAPI Options
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq eval-all --inplace '. as $item ireduce ({}; . * $item)' ${{ env.PARTNER_OPENAPI_GENERATED_FILE }} ${{ env.PARTNER_API_DOCS_DIR }}/openapi3-options.yaml

      - name: Prepare API Docs Directory
        run: |
          mkdir -p api-docs/dashboard
          mkdir -p api-docs/partner

          cp ${{ env.DASHBOARD_API_DOCS_DIR }}/index.html api-docs/dashboard/
          cp ${{ env.DASHBOARD_OPENAPI_GENERATED_FILE }} api-docs/dashboard/
          
          cp ${{ env.PARTNER_API_DOCS_DIR }}/index.html api-docs/partner/
          cp ${{ env.PARTNER_OPENAPI_GENERATED_FILE }} api-docs/partner/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./api-docs
          publish_branch: gh-pages
